<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">
        <select id="queryUser" resultType="java.lang.Integer">
                SELECT
                *
            FROM
            USER
            WHERE
                NAME = #{name}
                AND PWD = #{pwd}
        </select>

    <select id="queryLastTaskId" resultType="java.lang.Integer">
        SELECT
	EXECUTION_ID_
FROM
	`act_ru_task`
ORDER BY
	CREATE_TIME_ DESC
	LIMIT 1
    </select>

    <insert id="insertTaskHis">
            INSERT INTO
user_task_rel
(TASKID , USERID )
VALUE (#{taskId} , #{userId})
    </insert>

    <select id="queryTaskHis" resultType="com.example.demo.dao.TaskInfo">
  SELECT
	utl.TASKID,
	utl.STATUS,
	utl.CREATETIME Time
FROM
	`user_task_rel` utl
	LEFT JOIN act_ru_task aht ON utl.TASKID = aht.EXECUTION_ID_
	LEFT JOIN `user` u ON u.ID = utl.USERID
WHERE
	u.`NAME` =#{name}
    </select>

    <select id="queryTaskId" resultType="java.lang.Integer">
        SELECT EXECUTION_ID_ FROM `act_ru_task`
WHERE ID_ = #{id}
    </select>

    <select id="queryId" resultType="java.lang.Integer">
        SELECT ID_ FROM `act_ru_task`
WHERE EXECUTION_ID_ = #{id}
    </select>



    <update id="updateState">
        UPDATE user_task_rel
        SET STATUS = #{status}
        WHERE TASKID = #{id};
    </update>

    <select id="queryUserNameById" resultType="java.lang.String">
SELECT
	u.`NAME`
FROM
	`act_ru_task` art
	INNER JOIN user_task_rel utr ON art.EXECUTION_ID_ = utr.TASKID
	INNER JOIN user u ON u.ID = utr.USERID
	WHERE art.ID_ = #{id}

    </select>
</mapper>